@page "/Account/RegisterConfirmation"
@rendermode InteractiveServer

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using BlazorWebApp.Data

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Register confirmation</PageTitle>

<h1>Register confirmation</h1>



<section id="signup">
    <div class="container">

        <EditForm FormName="verifycode" Model="VerifyCodeForm" OnValidSubmit="OnValidSubmit" asp-route-returnUrl="@ReturnUrl" method="post" novalidate>
            <DataAnnotationsValidator />

            <h1>Verify Your Account</h1>
            

            <div class="content">
                <div id="form-firstname" class="input-group">
                    <label>Enter your verification code</label>
                    <InputText @bind-Value="VerifyCodeForm.Code" />
                    <ValidationMessage For="() => VerifyCodeForm.Code" />
                    <p>@statusMessage</p>
                </div>

                <button id="form-submit" class="btn-theme-s" type="submit">Verify Code</button>
            </div>
        </EditForm>
        <p>Didn't reveive an email? <button @onclick="ResendCode">resend email</button>.</p>

    </div>
</section>

@code {

    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? Email { get; set; }

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }


    [SupplyParameterFromForm]
    private VerifyCodeModel VerifyCodeForm { get; set; } = new VerifyCodeModel();



    private async Task OnValidSubmit()
    {
        var result = await http.PostAsJsonAsync("https://verificationprovider-silicon-backend.azurewebsites.net/api/validate?code=U6-niLiFswlSzJ-SBdZ4QjfvA-oVzbmoHZNbQ3hXRZDBAzFu5f2yBg%3D%3D", new { Email = Email, Code = VerifyCodeForm.Code }); //Lägg till code function url här.
        if (result.IsSuccessStatusCode)
        {
            var user = await UserManager.FindByEmailAsync(Email!);
            user!.EmailConfirmed = true;
            await UserManager.UpdateAsync(user);
        }
        else
        {
            statusMessage = "Invalid code";
        }
    }


    private async Task ResendCode()
    {
        var result = await http.PostAsJsonAsync("", new { Email = Email });
        if (result.IsSuccessStatusCode)
        {
            statusMessage = "Code resent";
        }
        else
        {
            statusMessage = "Unable to resend code.";
        }
    }


    protected override async Task OnInitializedAsync()
    {
        if (Email is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByEmailAsync(Email);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = "Error finding user for unspecified email";
        }

    }


    public class VerifyCodeModel
    {
        [Required]
        public string Code { get; set; } = "";
    }


}
