.courses {
    margin-top: 70px;

    .container {

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            #form-filters {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 15px;

                select {
                    background-color: white;
                    border-radius: 5px;
                    height: 62px;
                    width: 300px;
                    border-color: $gray-200;
                }

                .input-search-group {
                }
            }
        }

        .course-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 24px;

            .course {
                border: 1px solid $gray-300;
                border-radius: 10px;


                .best-seller {
                    position: absolute;
                    z-index: 1;
                    background-color: #22C55E;
                    color: #FFFFFF;
                    border-radius: 8px;
                    padding: 5px;
                    margin-top: 10px;
                    margin-left: 10px;
                }

                .course-image {
                    position: relative;
                    z-index: 0;
                    border-radius: 10px;
                }

                .content {
                    padding: 24px;

                    .course-title {
                    }

                    .course-author {
                    }

                    .course-prices {
                        display: flex;
                        gap: 5px;

                        .strikethrough {
                            text-decoration: line-through;
                        }

                        .discount-price {
                            color: #EF4444;
                        }

                        .original-price {
                            color: $theme;
                        }
                    }

                    .course-footer {
                        display: grid;
                        grid-template-columns: 1fr 1fr;

                        .course-hours {
                        }

                        .course-likes {
                            display: flex;
                            gap: 5px;

                            i {
                                padding-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
