.notifications {
    padding-top: 3rem;

    .container {
        display: grid !important;
        grid-template-columns: 2fr 5fr;
        gap: 150px;
        margin-bottom: 70px;

        aside {
            border-right: 1px solid $gray-300;
            padding-right: 20px;

            .profile {
                margin: 20px;
                text-align: center;

                .profile-pic {
                    position: relative;

                    img {
                        border-radius: 50%;
                        width: 120px;
                        height: 120px;
                        object-fit: cover;
                    }

                    .btn {
                        position: absolute;
                        top: 80px;
                        left: calc(50% - 18px);
                        background-color: white;
                        border-radius: 50%;
                        border: 1px solid $theme-opacity;
                        width: 36px;
                        height: 36px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                h5 {
                    margin-top: 15px;
                    margin-bottom: 0;
                }

                p {
                    @include text-m;
                }
            }

            nav {
                display: block;
                justify-content: center;
                gap: 15px;
                margin-bottom: 2rem;

                .btn-nav {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: var(--color-gray-800) !important;
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    border-radius: 6px;
                    transition: background-color 0.3s ease;

                    i {
                        color: var(--color-gray-600) !important;
                        margin-right: 1rem;
                    }

                    &:hover {
                        background-color: var(--color-gray-200) !important;
                    }

                    @include lg {
                        justify-content: start;
                        width: auto;
                        padding: 10px 20px;

                        i {
                            margin-left: 2rem;
                            margin-right: 1rem;
                        }
                    }

                    #nav-settings, #nav-security, #nav-bookmark, #nav-signout {
                        span {
                            display: none;

                            @include lg {
                                display: block;
                            }
                        }

                        @include lg {
                            justify-content: start;
                        }
                    }
                }
            }
        }

        .content {

            h2 {
                margin-bottom: 2rem;
            }

            h5 {
                font-weight: 600;
            }

            input {
                width: 416px;
                margin-bottom: 2rem;
            }

            .newslettersub {
                display: flex;
                margin-bottom: 1rem;


                .btn-switch {
                }

                .sub-topic-and-info {

                    h6 {
                        margin: 0;
                    }

                    p {
                        font-size: 14px;
                        margin: 0;
                        color: $gray-600;
                    }
                }
            }

            .dark-light-mode-setting {
                display: flex;

                .btn-switch {
                }

                .darkmode-topic {

                    h6 {
                        margin: 0;
                    }

                    p {
                        font-size: 14px;
                        margin: 0;
                        color: $gray-600;
                    }
                }
            }

            .confirm-msg {
                width: 570px;
            }

            .error {
                width: 570px;
            }


            .submit-btns {
                display: flex;
                margin-top: 10rem;

                .btn-gray {
                    width: 103px;
                    margin-right: 1rem;
                }

                .btn-theme {
                    width: 149px;
                }
            }
        }
    }
}


.btn-switch-notification {
    display: flex;
    gap: 10px;
    margin-right: 1rem;

    label {
        @include text-nav;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 46px;
        height: 25px;

        & input {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked + .slider {
                background-color: #22C55E;
            }

            &:focus + .slider {
                box-shadow: 0 0 1px #22C55E;
            }

            &:checked + .slider:before {
                transform: translateX(20px);
                background-color: $white;
            }
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $gray-700;
            transition: .4s;

            &:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 3px;
                bottom: 2.7px;
                background-color: $white;
                transition: .4s;
            }

            &.round {
                border-radius: 34px;
            }

            &.round:before {
                border-radius: 50%;
            }
        }
    }
}
